body{
    align-items: center;
    background: linear-gradient( to right,#4facfe,#00f2fe);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.container{
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 300px;
}

input{
    width: 70%;
    padding: 10px;
}

button{
    padding: 10px 20px;
    background:#067cfa;
color:white;
border:none;
cursor:pointer;
}

.Result{
    margin-top: 20px;
}

